.react {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}

.nav-pills > li > a.active,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
  color: #2D2D2D;
  background-color: #FBCE47;
}

.kuiLocalNav--search {
  color: #2d2d2d;
  background-color: #e4e4e4;
  line-height: 1.5;
}

.kuiLocalNavRow--search {
  height: 38px;
  padding: 4px 4px 0;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}